@colorEmpresa: #6666AA;

.padingDef(@top, @right, @buttom, @left){
	padding: @top @right @buttom @left;
}

.jumbotron {
	background-color: @colorEmpresa;
	color: white;
	margin-top: 40px;
}

footer {
	/*padding: 10px 0px 0px 10px;*/
	.padingDef(10px, 0px, 0px, 10px);
	background-color: @colorEmpresa;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}
footer a {
	color: white;
	text-decoration: underline;
}

.card-super {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}

.icon-padding-right {
	/*padding-right: 10px;*/
	.padingDef(0px, 10px, 0px, 0px);
}